# Entorno virtual
venv/
env/
ENV/
.venv/

# Django
*.pyc
*.pyo
__pycache__/
*.log
db.sqlite3
db.sqlite3-journal

# Variables de entorno
.env
.env.local
.env.production

media/

staticfiles/
static_collected/

# IDE
.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

# Migraciones locales (opcional)
# */migrations/*.py
# !*/migrations/__init__.py

# Archivos de configuración local
local_setti