# Ignorar dependencias
node_modules/
/frontend/node_modules/
/api/node_modules/

# Ignorar archivos de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar archivos de build (producción)
build/
dist/

# Ignorar archivos de entorno (¡MUY IMPORTANTE!)
.env
.env.local